@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div id="@Id" style="border: 1px solid lightgrey; padding: 8px;">@Content</div>

@code {

    [Parameter] public string? Id { get; set; }

    [Parameter] public string? Content { get; set; }

    [Parameter] public int DelayAfterOutsideClick { get; set; }

    private IJSObjectReference? _jsObjectReference;
    private DotNetObjectReference<Popup>? _dotNetObjectReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _dotNetObjectReference = DotNetObjectReference.Create(this);

        if (firstRender)
        {
            _jsObjectReference = await JSRuntime.InvokeAsync<IJSObjectReference>("registerOutsideClick", _dotNetObjectReference, new[] { Id! });
        }
    }

    [JSInvokable]
    public async Task OutsideClick()
    {
        await Task.Delay(DelayAfterOutsideClick);
        NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameter(Id, (bool?)null));
    }

    public async ValueTask DisposeAsync()
    {
        _dotNetObjectReference?.Dispose();
        if (_jsObjectReference != null)
        {
            _ = _jsObjectReference.InvokeVoidAsync("unbind");
            await _jsObjectReference.DisposeAsync();
        }
    }

}
